<nav class="navbar navbar-expand-lg navbar-dark"
     style="background: #070b17; border-bottom: 1px solid #1e293b;">

    <div class="container">

        <a class="navbar-brand fw-bold"
           href="/">

            <span style="color:#60a5fa;">STEVES</span>
            <span style="color:white;">CAREER</span>

        </a>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeV1iCuD62Z_DK7mPMbjoS7Ec29qyisNE3dK241MueL2Dt7zreFTN5r58&s=10" width="150" height="130">


        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>


        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link"
                       href="/">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="#about">
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="#jobs">
                        Jobs
                    </a>
                </li>

                <li class="nav-item ms-lg-3">
                    <a class="btn btn-primary px-4"
                       href="#jobs">
                        Find a Job
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>
